body,td,div,span,form,th
{
	font-size:9pt;
}
img
{
	border:0px solid #ccc;
}
h1
{
	font-size: 1em; margin:0;
}
body
{
	padding: 0; 
	margin: 0; 
	font: 0.7em Arial, sans-serif; 
	line-height: 1.5em; 
	background: #F0F0F0; 
	color: #454545;
	text-align:center;
}
.content { 
	margin: 10px auto;
	width: 768px;
	background: #FFF url(../images/5/big_middle.gif) repeat-y;
	color: #454545;
}
input
{
	vertical-align:middle;
}
/*--������ҳ����--*/
.page-title
{
	padding: 0px 10px 0 10px;
}
/* header */
.header_top { background: #FEFEFE url(../images/5/big_top.gif) no-repeat; color: #FFF; height: 15px; clear:both;}
.header_bottom { clear: both; background: #FEFEFE url(../images/5/big_bottom.gif) no-repeat; color: #FFF; height: 15px; }
.site-logo
{
	float: left;
	width: 203px;
	height: 78px;
	background: #5BB2D1 url(../images/5/logobg.gif) repeat-x; 
	color: #FFF;
	border-top: 1px solid #137DA2;
	border-bottom: 1px solid #000;
	padding: 10px 0 0px 7px;
	position :relative;
}
.site-name
{
	padding:24px 0px 0px 0px;
	float:left;
	font-size:24px;
	color:orange;
}
/*--���嶥�����λ--*/
.page-adv
{
	float: right;
	width: 500px;
	padding: 5px 0 4px 0;
	color: #808080;
}
/*--����װ����--*/
.page-xp
{
	height:80px;
	
	background-image:url(../images/1/gg08.jpg);
	margin:1px;
	text-align:left;
}
.sf_right {
	width: 537px;
	float: right;
	overflow:hidden;zoom:1;
}
/*--�����������˵�--*/
.page-menu
{
	
}
.page-menu ul
{
	margin:0; 
	list-style:none; 
	padding: 0; 
	overflow:hidden;zoom:1;
}
.page-menu ul li
{
	float:left;
	color: #FFF; 
	background: #C43219 url(../images/5/nav.gif) no-repeat 0px 0px; 
	margin:0; 
	padding:0 0 0 4px; 
}
.page-menu ul li a
{
	float:left; 
	display:block; 
	color:#fff; 
	padding: 7px 10px 4px 5px; 
	background: #C43219 url(../images/5/nav.gif) no-repeat 100% 0px; 
	text-decoration:none; 
	font-weight: bold;
	white-space:nowrap;
}
.page-menu ul li a:hover
{
	color:#BFE1ED; 
	background: #C43219 url(../images/5/nav.gif) no-repeat 100% 0px;
}

#active-link
{
	background: #1995C2 url(../images/5/nav.gif) no-repeat 0 -41px; 
	color: #FFF;
}
#active-link a
{
	background: #1995C2 url(../images/5/nav.gif) no-repeat 100% -41px; 
	padding:7px 10px 4px 6px; 
	color:#FFF; 
}
/*--�����������ݲ���--*/
.page-body
{
	padding: 0px;
	overflow:hidden;zoom:1;
}
.body-left
{
	width: 572px;
	float:left;
	margin: 0 0 10px 0;
	padding: 0px 5px 8px 8px;
}
.body-left-title
{
	background: #F0F0F0 url(../images/5/leftbox_top.gif) no-repeat;
	color: #808080;
	height: 40px;
	width: 154px;
	padding: 7px 0 0 5px;
	font-size:18px;
}
.body-right
{
	float: right; 
	width: 170px; 
	margin-right:10px;
	overflow:hidden;
}
.language-button
{
	padding:2px;
	margin:0px;
	clear:both;
	text-align:right;
	background:#F0F0F0;
}
.language-button span
{
	
}
.language-button span a
{
	width:5em;
	padding:0px 0px 0px 12px;
	font-size:12px;
	text-align:left;
	display:inline;
	background:url(../images/dot.gif) no-repeat center left;
	color:#333;
	text-decoration:none;
	margin:0px;
}
.language-button span a:hover
{
	color:orange;
}
/*--����������--*/
.news-title
{
	padding:6px 2px 4px 30px;
	color:#fff;
	margin:0px;
}
.news-content
{
	border-left: 2px solid #F0F0F0;
	border-right: 2px solid #F0F0F0;
	padding: 0 4px 0 7px;
	margin: 0;
	width: 159px;
	color: #595959;
	background: #FFF;
}
.box_bottom 
{
	background: #FFF url(../images/5/leftbox_bottom.gif) no-repeat;
	color: #000;
	height: 13px;
	width: 160px;
	margin: 0 0 7px 0;
}
/*--�����Ʒ������--*/
.page-search
{	
	background: #CA090D url(../images/5/searchbg.gif) repeat-x bottom left; 
	color: #FFE4E0;
	border-top: 1px solid #AA1717;
	border-bottom: 1px solid #000;
	padding: 18px 0 17px 15px;
}
.submit {
	height: 24px; 
	font-weight: bold; 
	width: 53px; 
	border: none; 
	background: #D96855 url(../images/5/button.gif); 
	padding: 3px; 
	color: #FFF;
}
.page-search form
{
	margin: 0;
	text-align:left;
}
#keyword
{
	width: 207px; 
	border: none; 
	background: #FFF url(../images/5/input.gif); 
	padding: 4px; 
	margin:0px 5px;
	color: #808080;
}
/*--�������������--*/
.page-nav
{
	padding: 0px 5px 8px 8px;
	text-align:left;
	width:146px;
}
.page-nav ul
{
	border-left: 2px solid #F0F0F0;
	border-right: 2px solid #F0F0F0;
	width:144px;
	padding: 0 4px 0 7px;
	margin: 0;
	color: #595959;
	background: #FFF;
}
.page-nav ul li
{
	margin:0px 0px 0px 0px;
	padding:0px;
	display:block;
}
.page-nav ul li a
{
	padding:6px 0px 4px 20px;
	display:block;
	height:25px;
	color:#333;
	text-align:left;
	text-decoration:none;
	background-image:url(../images/dot.gif);
	background-repeat:no-repeat;
	background-position:5px center;
	border-bottom:1px solid #ccc;
}
.page-nav ul li a:hover
{
	border-bottom:1px solid limegreen;
	color:salmon;
	background-color:#e0f8ff;
}
#nav-link
{
	height:20px;
	padding:4px 2px 2px 20px;
	margin:4px 0px 0px 0xp;
	color:#272118;
	background-color:#D8DEE7;
	border-bottom:1px solid salmon;
}
/*--������������--*/
.page-link
{
	padding:2px;
	text-align:center;
	margin:20px 2px 2px 2px;
}
.text-link,.logo-link
{
	border-left: 2px solid #F0F0F0;
	border-right: 2px solid #F0F0F0;
	padding: 0 4px 0 7px;
	width:144px;
	margin: 0;
	color: #595959;
	background: #FFF;
	text-align:center;
}
.logo-link a
{
	display:block;
	width:100px;
	padding:2px;
	margin:0px 0px 2px 0px;
}
/*--ҳ������λ��--*/
.body-nav
{
	
	padding:0px;
	margin:0px;
	height:3px;
}
/*--ҳ����Ҫ����--*/
.body-content
{
	padding:2px;
	text-align:left;
	margin:0px;
	width:98%;
	overflow-x:auto;
	word-wrap: break-word; 
	word-break: break-all;
}
.body-content img
{
	start:expression(onload=function(){if (this.width>=600) this.width=500});
}
/*--������ʾ��ʽ--*/
.article-title
{
	clear: both;
	background: #F3F3F5 url(../images/4/hot_folder.gif) no-repeat center left;
	color: #333;
	padding: 7px 0 7px 30px;
	font: bold 1em Tahoma, Arial, Sans-Serif;
	margin: 0;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	text-align:left;
}
.article-content
{
	_height:400px;
	min-height:400px;
	padding:2px;
}
.article-date
{
	border-top:1px dotted #ccc;
	text-align:right;
	padding:2px;
}
.article-list
{
	padding:2px;
	border-bottom:1px dotted #ccc;
	text-align:right;
}
.article-list a
{
	text-decoration:none;
	width:400px;
	float:left;
	display:block;
	text-align:left;
	color:blue;
}
.article-list a:hover
{
	color:red;
	background-color:#f2f2ff;
}
/*--û������ʱ��ʾ��ͼƬ--*/
.page-empty
{
	
	height:400px;
	background-image:url(../images/page-empty.gif);
	background-repeat:no-repeat;
	background-position:center center;
}
/*--������ʾ��Ʒʱ����ʽ--*/
.product-title
{	
	padding:12px 2px 2px 10px;
	font-size:18px;
	height:45px;
	color:#000;
	font-weight:bold;
	border-bottom:1px solid #ccc;
	margin:0px 0px 10px 0px;
}
.product-price,.product-num
{
	padding:8px;
	font-size:14px;
	width:200px;
}
.product-pic
{
	border:1px solid #ccc;
	margin:4px;
	padding:2px;
	float:right;
	background:#f0f0ff;
}
.product-content,picture
{
	
	clear:both;
	padding:2px;
}
.product_list
{
	width:32%;
	padding:4px;
	margin:4px;
	border:1px solid #ccc;
	text-align:center;
	float:left;
	background:#f0f0ff;
}
.product_list a
{
	display:block;
	
	text-decoration:none;
	color:blue;
	padding:2px;
	border-top:1px dotted #ccc;
	background-color:#fff;
}
.product_list a:hover
{
	background-color:#e0f0ff;
}
/*--�������Բ���ʽ--*/
.lyb-list
{
	margin:8px;
	padding:4px;
	border:1px solid #ccc;
}
.lyb-list ul
{
	border-bottom:1px solid #ccc;
	padding:0px;
	margin:0px;
}
.lyb-list ul li
{
	display:inline;
	padding:2px;
	margin:0px;
	color:#333;
}
.lyb-title
{
	padding:2px;
	font-size:16px;
	font-weight:blod;
}
.lyb-content
{
	border:1px dotted #ccc;
	padding:2px;
	margin:4px;
	height:80px;
}
.lyb-reply
{
	color:blueviolet;
	border-top:1px solid #ccc;
	padding:2px;
	margin:8px 4px 4px 4px;
}
/*--������ʾ--*/
.oper-info
{
	margin:2px;
	padding:4px 4px 4px 20px;
	color:blue;
	background:url(../images/key.gif) #f0f0f0 no-repeat 3px 3px;
	height:20px;
}
/*--����ǩд�����ʽ--*/
.lyb-button
{
	width:100px;
	text-align:center;
	margin:8px;
}
.lyb-button a
{
	text-decoration:none;
	display:block;
	border:1px solid #ccc;
	padding:8px;
	color:#333;
}
.lyb-button a:hover
{
	background-color:#ccc;
	color:#FFF;
}
#lyb-form
{
	padding:8px;
	margin:4px;
}
#lyb-form table
{
	border:1px solid #ccc;
}
#lyb-form table th
{
	background-color:#f0f0f0;
	font-size:14px;
	font-weight:normal;
	text-align:right;
}
.inpt-text
{
	border:1px solid #ccc;
}
.inpt-bt
{
	height:20px;
}

/*--����ҳ��ײ�--*/
.page-foot
{
	color:#333;
	clear: both;
	text-align: center;
	padding: 10px 0 5px 0;
	margin: 0;
	line-height: 1.8em;
}
.page-foot span
{
	
}
.page-foot span span
{
	height:40px;
	padding:5px;
	text-align:center;
	margin:0px;
}
/*--��ҳ��־--*/
.page-number
{
	width:95%;
	height:25px;
	margin:2px;
	border-top:2px solid #ff8c00;
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
	background:url(../images/tabbar_level2_bk.gif);
}
.page-number td
{
	padding:4px 2px 0px 2px;
	margin:0px;
	border:0px solid #ccc;
	font-size:12px;
	color:#333;
}
.flash-musk
{
	
	height:100%;
	position :absolute;
	z-index : 9;
	left:0px;
	top:0px;
}
/*--�����--*/
.all-border
{
	border-top:1px solid #ccc;
	border-bottom:1px solid #aaa;
	border-left:1px solid #ccc;
	border-right:1px solid #aaa;
	empty-cells:show;
	border-collapse:collapse;
}
/*--�������--*/
.all-border th
{
	font-weight:normal;
	border:1px solid #ccc;
	background-color:#eee;
}
.all-border td
{
	font-size:9pt;
	border:1px solid #ccc;
}
/*--�ޱ߿���--*/
.non-border
{
	border:0px solid #ccc;
}
.non-border td
{
	border:0px solid #ccc;
}

/*--���λ����--*/
#link_adv
{
	
	padding:2px;
}
#content_bottom_adv
{
	
	padding:2px;
}
#page_bottom_adv
{
	
	padding:2px;
}
/*--product-botton(���ť)--*/
.product-botton,.download-botton
{
	width:60%;
	padding:8px;
	margin:4px;
}
.product-botton
{
	border-top:1px dotted #ccc;
}
.product-botton a,.download-botton a
{
	margin:0px 10px 0px 0px
	line-height:30px;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	filter : progid:DXImageTransform.Glow(enabled=true,color=#FFFFFF,strength=3);
	color:#999;
	background:url("../images/bt_l.gif") no-repeat left top;
	padding:6px 0px 8px 13px;
	display:inline;
	cursor:hand;
}
.product-botton a span,.download-botton a span
{
	line-height:30px;
	background:url("../images/bt_r.gif") no-repeat right top;
	padding:10px 13px 8px 0px;
}
.product-botton a:hover span,.download-botton a:hover span
{
	color:orange;
}
#pd_car_button
{
	width:80%;
	padding:4px;
	margin:8px;
}
#payfor
{
	
	padding:4px;
	margin:8px;
	text-align:center;
}
/*--����б�����CSS--*/
.album_list
{
	width:180px;
	padding:4px;
	margin:4px;
	border:1px solid #ccc;
	text-align:center;
	float:left;
	background:#f0f0ff;
}
.album_list a
{
	display:block;
	
	text-decoration:none;
	color:blue;
	padding:0px;
	background-color:#fff;
}
.album_list a span
{
	display:block;
	height:20px;
	background:#f2f8ff;
	color:#333;
}
.album_list a:hover
{
	background-color:#e7f2fd;
}
/*--����б�����CSS--*/
.software_list
{
	
	height:60px;
	border:1px solid #ccc;
	margin:8px;
}
.software_list div
{
	
	padding:2px;
	margin:0px 0px 1px 0px;
	height:90px;
	overflow :hidden;
	background:#f0f0f0;
}
.software_list div span
{
	width:120px;
	height:100%;
	float:right;
	border-left:1px solid #ccc;
	padding:2px;
	background:#fff;
}
.software_list a
{
	
	padding:2px 2px 2px 25px;
	background:#fff url(../images/dot.gif) no-repeat 3px 5px;
	display:block;
	border-right:20px solid #ccc;
	border-bottom:1px solid #ccc;
	margin:0px 0px 1px 0px;
}
.other-link a
{
	display:block;
	margin:4px;
	padding:4px 4px 4px 25px;
	border:1px solid #39C81A;
	background:#fff url(../images/down.gif) no-repeat center left;
	width:8em;
	text-decoration:none;
	color:#39C81A;
}
.other-link a:hover
{
	padding:4px 4px 4px 30px;
	color:#bd7803;
}
/*--��Ƶ�б�����CSS--*/
.movie_list
{
	width:30%;
	height:60px;
	border:1px solid #ccc;
	margin:8px;
	float:left;
}
.movie_list a 
{
	
	height:20px;
	padding:2px 2px 2px 20px;
	display:block;
	background:#fff url(../images/dot.gif) no-repeat 3px 5px;
	border-right:20px solid #ccc;
	border-bottom:1px solid #ccc;
	margin:0px 0px 1px 0px;
	text-decoration:none;
	overflow :hidden;
}
.movie_list div
{
	
	padding:2px;
	margin:0px 0px 1px 0px;
	height:160px;
	overflow :hidden;
	background:#f0f0f0;
}
.movie_list div span
{
	margin:2px;
	border-right:4px solid #ccc;
	border-bottom:4px solid #ccc;
	border-left:4px solid #fff;
	border-top:4px solid #fff;
	height:120px;
	
	background:#f2f8ff;
	overflow :hidden;
}
.movie_list div span img
{
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	border-left:1px solid #ddd;
	border-top:1px solid #ddd;
}
.text_movie_play
{
	text-align:center;
	margin:8px;
	padding:0px;
}
.text_movie_play span
{
	border:2px solid #ddd;
	background:#fff url(../images/player_bg.jpg) no-repeat center center;
	width:470px;
	padding:12px;
	height:352px;
}
.text_movie_play span object
{
	border-top:2px solid #fff;
	border-right:2px solid #999;
	border-bottom:2px solid #999;
	border-left:2px solid #fff;
}
#web-code
{
	border-top:1px dotted #999;
	margin:2px;
	text-align:right;
	padding:4px 8px 0px 2px;
}
.page-keyword
{
	
	height:25px;
	background:#f2f8ff;
	color:orange;
	padding:4px;
	margin:20px 0px;
	border:1px dotted #ccc;
}
.page-keyword b
{
	font-weight:normal;
}