body,td,div,span,form,th
{
	font-size:9pt;
}
img
{
	border:0px solid #ccc;
	vertical-align:middle;
}
h1
{
	font-size: 1em; margin:0;
}
body
{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color:#9F005D;
	text-align:center;
	color:#333;
}
.content { 
	margin: 0 auto;
	
	padding: 0px;
}
input
{
	vertical-align:middle;
}
/*--������ҳ����--*/
.page-title
{
	MARGIN-RIGHT: auto;
	MARGIN-LEFT: auto; 
	PADDING: 0px;
	COLOR: #666;
	TEXT-ALIGN: left;
	clear:both;
	display:block;
	height:122px;
	background:#fff url(../images/20/top_pic.jpg) repeat-x top right;
}
#site-logo
{
	width: 199px;
	margin:0;
	padding:0;
	background:url(../images/20/logo.jpg) no-repeat top left;
	display:inline;
	float:left;
}
.site-logo
{
	margin: 0px;
	padding:3px;
	border:0px;
	width: 199px;
	display:block;
	float:left;
	background-repeat:no-repeat;
	background-position:85% center;
	position :relative;
	
}
#logo
{
	visibility :hidden;
}
.site-name
{
	padding:24px 0px 0px 0px;
	float:left;
	font-size:24px;
	color:orange;
}
/*--���嶥�����λ--*/
.page-adv
{
	width: 100%;
	margin:0;
	height:60px;
	padding:0;
	color: #808080;
	display:block;
	clear:both;
}
/*--����װ����--*/
.page-xp
{
	height:135px;
	
	background:#fff url(../images/10/index_banner.gif) no-repeat 0px 0px;
	padding:0px;
	margin:0px;
	text-align:left;
	border-bottom:1px solid #ccc;
	clear:both;
}
/*--�����������˵�--*/

.page-menu {
  display:block;
  width:700px;
  float:right;
  font-size:93%;
  line-height:normal;
  height:78px;
  }
.page-menu ul {
	margin:51px 0 0 0;
	padding:0;
	list-style:none;
	display:block;
	height:27px;
	background-color:#9F005D;
  }
.page-menu li {
  display:inline;
  margin:0;
  padding:0;
  }
.page-menu a {
  margin:0;
  width:100px;
  display:inline;
  padding:4px 8px;
  text-align:center;
  text-decoration:none;
  }
.page-menu a span {
  display:inline;
  font-size:16px;
  font-family:YouYuan,Verdana;
  color:#fff;
  }
/* Commented Backslash Hack hides rule from IE5-Mac \*/
.page-menu a span {float:none;}
/* End IE5-Mac hack */
.page-menu a:hover span {
  color:#FFF;
  }
.page-menu a:hover {
  background-position:0% -42px;
  }
.page-menu a:hover span {
  background-position:100% -42px;
  }
#active-link
{
	FONT-WEIGHT: bold; 
	background-position:0% -42px;
	COLOR: deeppink;
}
#active-link span
{
	background-position:100% -42px;
}
/*--�����˵������ص�--*/
.hidden-menu
{
	position : absolute;
	visibility:hidden;
	width:122px;
	border-top:2px solid #fff;
	border-left:1px solid #fff;
	border-bottom:1px solid #fff;
	border-right:1px solid #fff;
	background:#9F005D;
	text-align:left;
	padding:8px;
	color:#fff;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}
.hidden-menu li 
{
	list-style-type :none;
}
.hidden-menu li a
{
	text-decoration : none;
	color:#fff;
}
.hidden-menu li a:hover
{
	font-weight:bold;
	list-style-type :disc;	
	display:list-item;
	margin:-5px 0 -20px -5px;
	padding:4px;
}
/*--�����������ݲ���--*/
.page-body
{
	margin:0;
	clear:both;zoom:1;overflow:hidden;
	padding:0px;
	background:#FFF;
}
.body-left
{
	width:199px;
	float:left;
	margin:10px 0;
	padding:0;
	overflow:hidden;
}
.body-left-title
{
	height:24px;
	padding:4px 0px 0px 8px;
	font-size:14px;
	color:#fff;
	text-align:left;
	background:#9F005D no-repeat;
}
.body-right
{
	width:78%;
	text-align:center;
	margin:0px;
	float:right;
	padding:10px 20px 0 0;
}
.language-button
{
  display:block;
  width:700px;
  float:right;
  font-size:93%;
  text-align:right;
  line-height:normal;
  height:30px;
}
.language-button span
{
	
}
.language-button span a
{
	width:80px;
	display:inline;
	padding:4px;
	margin:4px;
	font-size:12px;
	color:#333;
	line-height :30px;
	text-align:center;
	border:1px solid #ccc;
	text-decoration:none;
}
.language-button span a:hover
{
	background:red;
	color:#fff;
	text-decoration:underline;
}
/*--����������--*/
.news-title
{
	padding:6px 2px 4px 30px;
	color:#333;
	margin:0px;
}
.news-content
{
	
	padding:4px;
}
/*--�����Ʒ������--*/
.page-search
{	
	padding:20px 0px;
	margin:0px;
	color:#222;
	border-bottom:1px solid #ccc;
}
.submit {
	background: #9F005D url(../images/5/button.gif) no-repeat;
	border: 0;
	padding: 4px 0;
	width: 53px;
	height:24px;
	margin: 0 15px 1px 0;
	color: #333;
	font: bold 1em Arial, Sans-Serif;
}
.page-search form
{
	
	padding:0px 0px 0px 10px;
	margin: 0;
	text-align:center;
}
#keyword
{
	color: #333;
	font-weight: bold;
	width:100px;
	height:20px;
	margin:4px;
}
/*--�������������--*/
.page-nav
{
	text-align:left;
	
	padding:0px 0px 8px 0px;
	margin:0px;
	background:#eee;
}
.shadow
{
	padding:0;
	margin:0;
	border:0;
	text-align:left;
	
	height:13px;
	background:url(../images/4/shadow.gif) no-repeat left top;
	border-top:1px solid #ccc;
}
.page-nav ul
{
	margin:0px;
	padding:0px;
	
}
.page-nav ul li
{
	margin:0px 0px 0px 0px;
	padding:0px;
	display:block;
}
.page-nav ul li a
{
	padding:6px 0px 4px 20px;
	display:block;
	height:25px;
	color:#333;
	text-align:left;
	text-decoration:none;
	background-image:url(../images/dot.gif);
	background-repeat:no-repeat;
	background-position:5px center;
	border-bottom:1px solid #ccc;
}
.page-nav ul li a:hover
{
	width:98%;
	color:#000;
	background-color:#fefefe;
}
#nav-link
{
	width:96%;
	height:20px;
	padding:4px 2px 2px 20px;
	margin:4px 0px 0px 0xp;
	color:#000;
}
/*--������������--*/
.page-link
{
	padding:2px;
	text-align:center;
	margin:20px 2px 2px 2px;
}
.text-link,.logo-link
{
	margin:4px;
	padding:4px;
	text-align:center;
}
.logo-link a
{
	display:block;
	width:100px;
	padding:2px;
	margin:0px 0px 2px 0px;
}
/*--ҳ������λ��--*/
.body-nav
{
	
	padding:0px;
	margin:0px;
	height:3px;
}
/*--ҳ����Ҫ����--*/
.body-content
{
	padding:2px;
	text-align:left;
	margin:0px;
	width:98%;
	overflow-x:auto;
	word-wrap: break-word; 
	word-break: break-all;
}
.body-content img
{
	start:expression(onload=function(){if (this.width>=800) this.width=750});
}
/*--������ʾ��ʽ--*/
.article-title,.product-title
{
	clear: both;
	background:url(../images/20/pic.gif) no-repeat center left;
	color: #666;
	height:21px;
	padding: 2px 0 2px 30px;
	font: bold 1.2em Tahoma, Arial, Sans-Serif;
	margin: -2px -2px 8px -2px;
	text-align:left;
	
}
.article-content
{
	_height:400px;
	min-height:400px;
	padding:2px;
}
.article-date
{
	border-top:1px dotted #ccc;
	text-align:right;
	padding:2px;
	display:none;
}
.article-list
{
	padding:2px;
	border-bottom:1px dotted #ccc;
	text-align:right;
}
.article-list a
{
	text-decoration:none;
	width:400px;
	float:left;
	display:block;
	text-align:left;
	color:#333;
}
.article-list a:hover
{
	color:red;
}
/*--û������ʱ��ʾ��ͼƬ--*/
.page-empty
{
	
	height:400px;
	background-image:url(../images/page-empty.gif);
	background-repeat:no-repeat;
	background-position:center center;
}
/*--������ʾ��Ʒʱ����ʽ--*/

.product-price,.product-num
{
	padding:8px;
	font-size:14px;
	width:200px;
}
.product-pic
{
	border:3px solid #ccc;
	margin:4px;
	padding:1px;
	float:right;
	background:#fff;
}
.product-content,picture
{
	
	clear:both;
	padding:2px;
}
.product_list
{
	width:32%;
	padding:0;
	margin:4px;
	text-align:center;
	float:left;
}
.product_list a
{
	display:block;
	
	text-decoration:none;
	color:#ccc;
	padding:0;
}
.product_list a:hover
{
	color:#333;
}
/*--�������Բ���ʽ--*/
.lyb-list
{
	margin:8px;
	padding:4px;
	border:1px solid #ccc;
}
.lyb-list ul
{
	border-bottom:1px solid #ccc;
	padding:0px;
	margin:0px;
}
.lyb-list ul li
{
	display:inline;
	padding:2px;
	margin:0px;
	color:#333;
}
.lyb-title
{
	padding:2px;
	font-size:16px;
	font-weight:blod;
}
.lyb-content
{
	border:1px dotted #ccc;
	padding:2px;
	margin:4px;
	height:80px;
}
.lyb-reply
{
	color:blueviolet;
	border-top:1px solid #ccc;
	padding:2px;
	margin:8px 4px 4px 4px;
}
/*--������ʾ--*/
.oper-info
{
	margin:2px;
	padding:4px 4px 4px 20px;
	color:blue;
	background:url(../images/key.gif) #f0f0f0 no-repeat 3px 3px;
	height:20px;
}
/*--����ǩд�����ʽ--*/
.lyb-button
{
	width:100px;
	text-align:center;
	margin:8px;
}
.lyb-button a
{
	text-decoration:none;
	display:block;
	border:1px solid #ccc;
	padding:8px;
	color:#000;
}
.lyb-button a:hover
{
	background-color:#9F005D;
	color:#fff;
}
#lyb-form
{
	padding:8px;
	margin:4px;
}
#lyb-form table
{
	border:1px solid #ccc;
}
#lyb-form table th
{
	background-color:#fef8ff;
	color:#000;
	font-size:14px;
	font-weight:normal;
	text-align:right;
}
.inpt-text
{
	border:1px solid #ccc;
}
.inpt-bt
{
	height:20px;
}

/*--����ҳ��ײ�--*/
.page-foot
{
	clear:both;
	MARGIN-RIGHT: auto;
	MARGIN-LEFT: auto; 
	padding:0px 21px 0px 0px;
	TEXT-ALIGN: center; 
	COLOR:#fff;
	
}
.page-foot span
{
	
	padding:5px;
	text-align:center;
	margin:0px;
}
/*--��ҳ��־--*/
.page-number
{
	width:95%;
	height:25px;
	margin:2px;
	border-top:2px solid #ff8c00;
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
	background:url(../images/tabbar_level2_bk.gif);
}
.page-number td
{
	padding:4px 2px 0px 2px;
	margin:0px;
	border:0px solid #ccc;
	font-size:12px;
	color:#333;
}
.flash-musk
{
	
	height:100%;
	position :absolute;
	z-index : 9;
	left:0px;
	top:0px;
}
/*--�����--*/
.all-border
{
	border-top:1px solid #ccc;
	border-bottom:1px solid #aaa;
	border-left:1px solid #ccc;
	border-right:1px solid #aaa;
	empty-cells:show;
	border-collapse:collapse;
}
/*--�������--*/
.all-border th
{
	font-weight:normal;
	border:1px solid #ccc;
	background-color:#eee;
}
.all-border td
{
	font-size:9pt;
	border:1px solid #ccc;
}
/*--�ޱ߿���--*/
.non-border
{
	border:0px solid #ccc;
}
.non-border td
{
	border:0px solid #ccc;
}

/*--���λ����--*/
#link_adv
{
	
	padding:2px;
}
#content_bottom_adv
{
	
	padding:2px;
}
#page_bottom_adv
{
	
	padding:2px;
}
/*--product-botton(���ť)--*/
.product-botton,.download-botton
{
	width:80%;
	padding:8px;
	margin:4px;
}
.product-botton
{
	border-top:1px dotted #ccc;
}
.product-botton a,.download-botton a
{
	float:left;
	margin:0 4px;
	height:23px;
	width:84px;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	filter : progid:DXImageTransform.Glow(enabled=true,color=#FFFFFF,strength=3);
	color:#333;
	background:url(../images/user/toolbar.gif) no-repeat left top;
	padding:0;
	display:inline;
	cursor:hand;
	text-align:center;
}
.product-botton a span,.download-botton a span
{
	height:23px;
	padding:4px 10px;
}
.product-botton a:hover span,.download-botton a:hover span
{
	color:#666;
}
#pd_car_button
{
	width:80%;
	padding:4px;
	margin:8px;
}
#payfor
{
	
	padding:4px;
	margin:8px;
	text-align:center;
}
/*--����б�����CSS--*/
.album_list
{
	width:160px;
	padding:1px;
	margin:4px;
	text-align:center;
	float:left;
}
.album_list a
{
	display:block;
	
	text-decoration:none;
	color:blue;
	padding:0px;
}
.album_list a img
{
	border:3px solid #ccc;
}
.album_list a span
{
	display:block;
	height:20px;
	color:#fff;
	padding:4px;
}
.album_list a:hover
{
	color:red;
}
/*--����б�����CSS--*/
.software_list
{
	
	height:60px;
	border:1px solid #ccc;
	margin:8px;
}
.software_list div
{
	
	padding:2px;
	margin:0px 0px 1px 0px;
	height:90px;
	overflow :hidden;
}
.software_list div span
{
	width:120px;
	height:100%;
	float:right;
	padding:2px;
}
.software_list div span img
{
	border:2px solid #ccc;
}
.software_list a
{
	
	padding:2px 2px 2px 20px;
	background:#fff url(../images/dot.gif) no-repeat 3px 5px;
	display:block;
	border-bottom:1px solid #ccc;
	margin:0px 0px 1px 0px;
	text-decoration:none;
	color:#333;
}
.other-link a
{
	display:block;
	margin:4px;
	padding:4px 4px 4px 25px;
	border:1px solid #39C81A;
	background:#fff url(../images/down.gif) no-repeat center left;
	width:8em;
	text-decoration:none;
	color:#39C81A;
}
.other-link a:hover
{
	padding:4px 4px 4px 30px;
	color:#bd7803;
}
/*--��Ƶ�б�����CSS--*/
.movie_list
{
	width:30%;
	height:60px;
	border:1px solid #ccc;
	margin:8px;
	float:left;
}
.movie_list a 
{
	
	height:20px;
	padding:3px 2px 2px 20px;
	display:block;
	background:#fff url(../images/dot.gif) no-repeat 3px 5px;
	border-bottom:1px solid #ccc;
	margin:0px 0px 1px 0px;
	text-decoration:none;
	overflow :hidden;
	color:#333;
}
.movie_list div
{
	
	padding:2px;
	margin:0px 0px 1px 0px;
	height:160px;
	overflow :hidden;
}
.movie_list div span
{
	margin:2px;
	height:120px;
	
	background:#f2f8ff;
	overflow :hidden;
}
.movie_list div span img
{
	border:2px solid #ccc;
}
.text_movie_play
{
	text-align:center;
	margin:8px;
	padding:0px;
}
.text_movie_play span
{
	border:2px solid #ddd;
	background:#fff url(../images/player_bg.jpg) no-repeat center center;
	width:470px;
	padding:12px;
	height:352px;
}
.text_movie_play span object
{
	border-top:2px solid #fff;
	border-right:2px solid #999;
	border-bottom:2px solid #999;
	border-left:2px solid #fff;
}
#web-code
{
	margin:0;
	text-align:right;
	padding:4px;
}
.page-keyword
{
	
	height:25px;
	background:#fff;
	color:#333;
	padding:4px;
	margin:10px 5px;
}
.page-keyword b
{
	font-weight:normal;
}
.all-border th
{
	background:#000;
}