body,td,div,span,form,th
{
	font-size:9pt;
}
img
{
	border:0px solid #ccc;
}
h1
{
	font-size: 1em; margin:0;
}
body
{
	text-align:center;
	color:#333;
	margin:0px;
	padding:0px 0px 0px 0px;
	background-image:url(../images/1/beiying01.jpg);
	background-color:#fff;
	background-repeat:repeat-x;
}
input
{
	vertical-align:middle;
}
/*--ҳ--*/
.page-title
{
	font-size:36px;
	color:orange;
	text-align:left;
	padding:0px;
	width:860px;
	height:60px;
	margin:0 auto;
	display:block;
}
.site-logo
{
	width:200px;
	height:60px;
	display:block;
	float:left;
	position :relative;
}
.site-name
{
	width:350px;
	height:60px;
	padding:24px 0px 0px 0px;
	float:left;
	font-size:24px;
	color:orange;
}
/*--嶥λ--*/
.page-adv
{
	width:468px;
	height:80px;
	margin:0px 50x 0px 0px;
	color:#ccc;
	float:right;
}
/*--װ--*/
.page-xp
{
	width:580px;
	height:84px;
	background-image:url(../images/1/gg08.jpg);
	margin:15px;
}
/*--˵--*/
.page-menu
{
	height:40px;
	text-align:center;
	display:block;
	float:right;
	width:600px;
	background:url(../images/1/menu-bg.gif) no-repeat center left;
	padding:2px 20px 2px 20px;
	margin:20px 0px 0px 0px;
}
.page-menu ul
{
	margin:0px 0px 0px 0px;
	padding:8px 0px 0px 0px;
	
	text-align:center;
}
.page-menu ul li
{
	display:inline;
	padding:0px;
	margin:0px;
}
.page-menu ul li a
{
	padding:12px 0px 0px 0px;
	font-weight:bold;
	text-decoration:none;
	line-height :0px;
	color:blue;
	font-family:,Բ,;
	margin:0px;
	white-space:nowrap;
}
.page-menu ul li a span
{
	height:20px;
	padding:2px 5px 0px 5px;
	text-align:center;
	line-height :16px;
	font-size:16px;
	cursor:hand;
	margin:0px;
}
.page-menu ul li a:hover
{
	background-position:0% -39px;
}
.page-menu ul li a:hover span
{
	background-position:100% -39px;
}
#active-link
{
	background-position:0% -39px;
}
#active-link span
{
	background-position:100% -39px;
}
/*--ݲ--*/
.page-body
{
	clear:both;
	width:800px;
	margin:0px auto;
	zoom:1;
	overflow:hidden;
}
.body-left
{
	width:178px;
	height:450px;
	float:left;
	margin:0px;
	text-align:left;
	background:#f0f0f0;
	overflow:hidden;
}
.body-left-title
{
	height:31px;
	background:url(../images/body_left_title_1.gif) #FFF no-repeat left top;
	padding:7px 0px 0px 35px;
	font-size:18px;
	color:background;
	font-family:,Բ,;
	font-weight:bold;
	text-align:left;
	
}
.body-right
{
	width:620px;
	float:right;
	text-align:left;
	padding:0px;
	margin:0px;
	border-right:1px solid #e0e0e0;
	border-left:1px solid #fff;
}
.language-button
{
	float:right;
	padding:5px;
	height:26px;
	padding:2px;
	margin:0px,4px,0px,0px;
	text-align:right;
}
.language-button span
{
	
}
.language-button span a
{
	width:5em;
	height:20px;
	padding:4px 0px 0px 12px;
	font-size:12px;
	text-align:left;
	display:inline;
	background:url(../images/dot.gif) no-repeat center left;
	color:#fff;
	text-decoration:none;
}
.language-button span a:hover
{
	color:orange;
}
/*----*/
.news-title
{
	padding:6px 2px 4px 30px;
	color:#fff;
	margin:0px;
}
.news-content
{
	
	padding:4px;
	background:#e0f0ff;
	border-bottom:1px solid #d1e2fe;
}
/*--Ʒ--*/
.page-search
{	
	width:800px;
	height:53px;
	padding:5px;
	background:url(../images/1/di01.gif) no-repeat right bottom;
	padding:0;
	margin:10px auto 0px;
	color:orange;
	clear:both;
}
.page-search form
{
	
	padding:19px 0px 0px 210px;
	margin:0px;
	text-align:left;
	font-weight:bold;
	font-size:15px;
}
#keyword
{
	width:200px;
	height:20px;
	margin:4px;
	border:1px solid #ccc;
}
/*----*/
.page-nav
{
	text-align:right;
	
	padding:0px 0px 14px 0px;
	margin:0px 0px 10px 0px;
	
}
.page-nav ul
{
	margin:0px;
	padding:0px;
	
}
.page-nav ul li
{
	margin:0px 0px 0px 0px;
	padding:0px;
	display:block;
}
.page-nav ul li a
{
	padding:6px 0px 4px 20px;
	display:block;
	height:25px;
	color:#333;
	text-align:left;
	text-decoration:none;
	background-image:url(../images/dot.gif);
	background-repeat:no-repeat;
	background-position:5px center;
	border-bottom:1px solid #ccc;
}
.page-nav ul li a:hover
{
	border-bottom:1px solid powderblue;
	width:98%;
	color:salmon;
	background-color:azure;
}
#nav-link
{
	width:96%;
	height:20px;
	padding:4px 2px 2px 20px;
	margin:4px 0px 0px 0xp;
	color:#272118;
	background-color:#D8DEE7;
	border-bottom:1px solid salmon;
}
/*----*/
.page-link
{
	padding:2px;
	text-align:center;
	margin:20px 2px 2px 2px;
}
.text-link,.logo-link
{
	margin:4px;
	padding:4px;
	text-align:center;
}
.logo-link a
{
	display:block;
	width:100px;
	padding:2px;
	margin:0px 0px 2px 0px;
}
/*--ҳλ--*/
.body-nav
{
	
	padding:0px;
	margin:0px;
	height:3px;
}
/*--ҳҪ--*/
.body-content
{
	padding:8px;
	text-align:left;
	overflow-x:auto;
	word-wrap: break-word; 
	word-break: break-all;
}
.body-content img
{
	start:expression(onload=function(){if (this.width>=600) this.width=500});
}
/*--ʾʽ--*/
.article-title
{
	padding:14px 2px 2px 16px;
	background:url(../images/xt.gif) no-repeat left center;
	font-size:18px;
	height:45px;
	color:#000;
	font-weight:bold;
	margin:0px 0px 10px 0px;
}
.article-content
{
	_height:400px;
	min-height:400px;
	padding:2px;
}
.article-date
{
	border-top:1px dotted #ccc;
	text-align:right;
	padding:2px;
}
.article-list
{
	padding:2px;
	border-bottom:1px dotted #ccc;
	text-align:right;
}
.article-list a
{
	text-decoration:none;
	width:400px;
	float:left;
	display:block;
	text-align:left;
	color:blue;
}
.article-list a:hover
{
	color:red;
	background-color:#f2f2ff;
}
/*--ûʱʾͼƬ--*/
.page-empty
{
	
	height:400px;
	background-image:url(../images/page-empty.gif);
	background-repeat:no-repeat;
	background-position:center center;
}
/*--ʾƷʱʽ--*/
.product-title
{	
	padding:12px 2px 2px 10px;
	font-size:18px;
	height:45px;
	color:#000;
	font-weight:bold;
	border-bottom:1px solid #ccc;
	margin:0px 0px 10px 0px;
}
.product-price,.product-num
{
	padding:8px;
	font-size:14px;
	width:200px;
}
.product-pic
{
	border:1px solid #ccc;
	margin:4px;
	padding:2px;
	float:right;
	background:#f0f0ff;
}
.product-content,picture
{
	
	clear:both;
	padding:2px;
}
.product_list
{
	width:180px;
	padding:4px;
	margin:10px;
	border:1px solid #ccc;
	text-align:center;
	float:left;
	background:#f0f0ff;
}
.product_list a
{
	display:block;
	
	text-decoration:none;
	color:blue;
	padding:2px;
	border-top:1px dotted #ccc;
	background-color:#fff;
}
.product_list a:hover
{
	background-color:#e0f0ff;
}
/*--Բʽ--*/
.lyb-list
{
	margin:8px;
	padding:4px;
	border:1px solid #ccc;
}
.lyb-list ul
{
	border-bottom:1px solid #ccc;
	padding:0px;
	margin:0px;
}
.lyb-list ul li
{
	width:24%;
	display:inline;
	padding:2px;
	margin:0px;
	color:#333;
}
.lyb-title
{
	padding:2px;
	font-size:16px;
	font-weight:blod;
}
.lyb-content
{
	border:1px dotted #ccc;
	padding:2px;
	margin:4px;
	height:80px;
}
.lyb-reply
{
	color:blueviolet;
	border-top:1px solid #ccc;
	padding:2px;
	margin:8px 4px 4px 4px;
}
/*--ʾ--*/
.oper-info
{
	margin:2px;
	padding:4px 4px 4px 20px;
	color:blue;
	background:url(../images/key.gif) #f0f0f0 no-repeat 3px 3px;
	height:20px;
}
/*--ǩд��ʽ--*/
.lyb-button
{
	width:100px;
	text-align:center;
}
.lyb-button a
{
	text-decoration:none;
	display:block;
	border:1px solid #ccc;
	padding:8px;
	color:#333;
}
.lyb-button a:hover
{
	background-color:#ccc;
	color:#FFF;
}
#lyb-form
{
	padding:8px;
	margin:4px;
}
#lyb-form table
{
	border:1px solid #ccc;
}
#lyb-form table th
{
	background-color:#f0f0f0;
	font-size:14px;
	font-weight:normal;
	text-align:right;
}
.inpt-text
{
	border:1px solid #ccc;
}
.inpt-bt
{
	height:20px;
}

/*--ҳײ--*/
.page-foot
{
	background:#f0f0f0;
	width:800px;
	color:#333;
	width:800px;
	margin:0px auto;
}
.page-foot span
{
	
}
.page-foot span span
{
	height:110px;
	padding:20px 5px 5px 5px;
	text-align:center;
}
/*--ҳ־--*/
.page-number
{
	width:95%;
	height:25px;
	margin:2px;
	border-top:2px solid #ff8c00;
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
	background:url(../images/tabbar_level2_bk.gif);
}
.page-number td
{
	padding:4px 2px 0px 2px;
	margin:0px;
	border:0px solid #ccc;
	font-size:12px;
	color:#333;
}
.flash-musk
{
	
	height:100%;
	position :absolute;
	z-index : 9;
	left:0px;
	top:0px;
}
/*----*/
.all-border
{
	border-top:1px solid #ccc;
	border-bottom:1px solid #aaa;
	border-left:1px solid #ccc;
	border-right:1px solid #aaa;
	empty-cells:show;
	border-collapse:collapse;
}
/*----*/
.all-border th
{
	font-weight:normal;
	border:1px solid #ccc;
	background-color:#eee;
}
.all-border td
{
	font-size:9pt;
	border:1px solid #ccc;
}
/*--ޱ߿--*/
.non-border
{
	border:0px solid #ccc;
}
.non-border td
{
	border:0px solid #ccc;
}

/*--λ--*/
#link_adv
{
	
	padding:2px;
}
#content_bottom_adv
{
	
	padding:2px;
}
#page_bottom_adv
{
	width:800px;
	padding:2px;
}
/*--product-botton(ť)--*/
.product-botton,.download-botton
{
	width:60%;
	padding:8px;
	margin:4px;
}
.product-botton
{
	border-top:1px dotted #ccc;
}
.product-botton a,.download-botton a
{
	margin:0px 10px 0px 0px
	line-height:30px;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	filter : progid:DXImageTransform.Glow(enabled=true,color=#FFFFFF,strength=3);
	color:#999;
	background:url("../images/bt_l.gif") no-repeat left top;
	padding:6px 0px 8px 13px;
	display:inline;
	cursor:hand;
}
.product-botton a span,.download-botton a span
{
	background:url("../images/bt_r.gif") no-repeat right top;
	padding:10px 13px 8px 0px;
	line-height:30px;
}
.product-botton a:hover span,.download-botton a:hover span
{
	color:orange;
}
#pd_car_button
{
	clear:both;
	padding:4px;
	margin:8px;
}
#payfor
{
	
	padding:4px;
	margin:8px;
	text-align:center;
}
/*--бCSS--*/
.album_list
{
	width:180px;
	padding:4px;
	margin:10px;
	border:1px solid #ccc;
	text-align:center;
	float:left;
	background:#f0f0ff;
}
.album_list a
{
	display:block;
	
	text-decoration:none;
	color:blue;
	padding:0px;
	background-color:#fff;
}
.album_list a span
{
	display:block;
	height:20px;
	background:#f2f8ff;
	color:#333;
}
.album_list a:hover
{
	background-color:#e7f2fd;
}
/*--бCSS--*/
.software_list
{
	
	height:60px;
	border:1px solid #ccc;
	margin:8px;
}
.software_list div
{
	
	padding:2px;
	margin:0px 0px 1px 0px;
	height:90px;
	overflow :hidden;
	background:#f0f0f0;
}
.software_list div span
{
	width:120px;
	height:100%;
	float:right;
	border-left:1px solid #ccc;
	padding:2px;
	background:#fff;
}
.software_list a
{
	
	padding:2px 2px 2px 25px;
	background:#fff url(../images/dot.gif) no-repeat 3px 5px;
	display:block;
	border-right:20px solid #ccc;
	border-bottom:1px solid #ccc;
	margin:0px 0px 1px 0px;
}
.other-link a
{
	display:block;
	margin:4px;
	padding:4px 4px 4px 25px;
	border:1px solid #39C81A;
	background:#fff url(../images/down.gif) no-repeat center left;
	width:8em;
	text-decoration:none;
	color:#39C81A;
}
.other-link a:hover
{
	padding:4px 4px 4px 30px;
	color:#bd7803;
}
/*--ƵбCSS--*/
.movie_list
{
	width:30%;
	height:60px;
	border:1px solid #ccc;
	margin:8px;
	display:inline;
}
.movie_list a 
{
	
	height:20px;
	padding:2px 2px 2px 20px;
	display:block;
	background:#fff url(../images/dot.gif) no-repeat 3px 5px;
	border-right:20px solid #ccc;
	border-bottom:1px solid #ccc;
	margin:0px 0px 1px 0px;
	text-decoration:none;
	overflow :hidden;
}
.movie_list div
{
	
	padding:2px;
	margin:0px 0px 1px 0px;
	height:160px;
	overflow :hidden;
	background:#f0f0f0;
}
.movie_list div span
{
	margin:2px;
	border-right:4px solid #ccc;
	border-bottom:4px solid #ccc;
	border-left:4px solid #fff;
	border-top:4px solid #fff;
	height:120px;
	
	background:#f2f8ff;
	overflow :hidden;
}
.movie_list div span img
{
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	border-left:1px solid #ddd;
	border-top:1px solid #ddd;
}
.text_movie_play
{
	text-align:center;
	margin:8px;
	padding:0px;
}
.text_movie_play span
{
	border:2px solid #ddd;
	background:#fff url(../images/player_bg.jpg) no-repeat center center;
	width:470px;
	padding:12px;
	height:352px;
}
.text_movie_play span object
{
	border-top:2px solid #fff;
	border-right:2px solid #999;
	border-bottom:2px solid #999;
	border-left:2px solid #fff;
}
#web-code
{
	border-top:1px dotted #999;
	margin:2px;
	text-align:right;
	padding:8px;
}
.page-keyword
{
	height:25px;
	background:#f2f8ff;
	color:orange;
	padding:4px;
	margin:20px 0px;
	border:1px dotted #ccc;
}
.page-keyword b
{
	font-weight:normal;
}